body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
    font-size: 14px;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.flex { display: flex; }

.align-center {
    display: flex;
    align-items: center;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column { flex-direction: column; }

.block { display: block; }

.none { display: none !important; }

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    user-select: none;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.hidden-visibility {
    visibility: hidden;
}

.my8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mr6 { margin-right: 6px; }

.fs13 { font-size: 13px; }

.bold { font-weight: bold; }

h1 {
    text-align: center;
    letter-spacing: 1.8px;
    color: rgb(0, 132, 255);
    font-size: 24px;
    margin: 14px 0 6px 0;
}

.text {
    letter-spacing: 1.2px;
    line-height: 1.8;
    text-align: center;
    color: rgb(20, 20, 20);
}

.section-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.section-title-box .feather {
    width: 20px;
    height: 20px;
    fill: #2b3439;
}

.section-title {
    color: rgb(41, 53, 61);
    font-size: 16px;
    letter-spacing: 2.6px;
}

#testimonials-section {
    width: 900px;
}

#testimonials-box {
    position: relative;
    margin: 16px 0;
    width: 100%;
    overflow: hidden;
}

#testimonials-box .container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 14px;
}

.annimation-04s {
    transition: left 0.4s ease;
}

.testimonial-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 14px;
    background-color: #FDFDFD;
    border: 1px solid gainsboro;
    border-radius: 4px;
    width: 290px;
    height: max-content;
    box-sizing: border-box;
}

.testimonial-component .avatar-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 54px;
    width: 54px;
}

.testimonial-component .avatar {
    max-width: 60px;
    max-height: 60px;
}

.testimonial-component .name {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    margin: 12px 0 8px 0;
}

.testimonial-component .designation {
    color: #2b3439;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 8px;
}

.testimonial-component .message-box {
    display: flex;
    flex-direction: column;
}

.testimonial-component .message {
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #161b1e;
}

.testimonial-component .start-quotation {
    width: 20px;
    height: 20px;
}

.testimonial-component .end-quotation {
    width: 16px;
    height: 16px;
    margin-left: auto;
}

.navigation-buttons-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons-box .nav-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #bbc6d2;
    background-color: unset;
    outline: unset;
}

.navigation-buttons-box .nav-button:hover {
    background-color: #FBFBFB;
}

.navigation-buttons-box .nav-button .arrow {
    width: 6px;
    fill: #2f3338;
}

.navigation-types-box {
    position: relative;
    display: flex;
    gap: 2px;
}

.navigation-type {
    padding: 0;
    width: 30px;
    height: 30px;
    border: unset;
    border-radius: 50%;
    background-color: unset;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: unset;
}

.navigation-type .icon {
    width: 18px;
    height: 18px;
    fill: #191f22;
}

.navigation-types-box .selection {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e7f0f4;
    transition: all 0.2s ease;
}

@media screen and (max-width: 936px) {
    #testimonials-section {
        width: 595px;
    }
}

@media screen and (max-width: 624px) {
    #testimonials-section {
        width: 290px;
    }
}